
:root {
    color: #7e8d85;
    color: #b3bfb8;
    color: #f0f7f4;
    color: #a2e3c4;
    color: #3C493f;
}

.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
    font-family: 'Titillium Web';
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #f0f7f4;
    background-color: #b3bfb8;
}

.header {
    background-color: #3C493f;
    color: #f0f7f4;
    padding-top: 2rem;
    grid-column: 1/4;
}
.header p {
    padding-left: 2rem;
    margin: 0;
}

.navigation {
    background-color:#7e8d85;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
}

.navigation a {
    display: block;
    color: #f0f7f4;
    text-decoration: none;
    padding: .75rem;
}

.navigation a:hover {
    color: #a2e3c4;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #3C493f;
}

.main {
    grid-column: 1/3;
    background-color: #a2e3c4;
    color: #3C493f;
}

.main p {
    margin: 0;
    padding-left: 2rem;
    padding-top: 1rem;
}

.right-content {
    background-color: #b3bfb8;
    color: #3C493f;
    grid-column: 3/4;
    min-width: 300px;
}

.right-content p {
    margin: 0;
    padding-left: 2rem;
    padding-top: 1rem;
}
.footer {
    background-color:#7e8d85;
    color: #3C493f;
    grid-column: 1/4;
    text-align: center;
    text-decoration: none;
    height: 150px;
}
.footer p {
    margin: 0;
    padding-top: 1rem;
}