/* https://coolors.co/3c493f-7e8d85-b3bfb8-f0f7f4-a2e3c4*/
:root {
    color: #7e8d85;
    color: #b3bfb8;
    color: #f0f7f4;
    color: #a2e3c4;
    color: #3C493f;
}


.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
    font-family: 'Titillium Web';
    font-weight: 500;
    font-style: normal;
    font-size:30px;
    color: #f0f7f4;
    background-color: #b3bfb8;
}

header {
    
    background-color:#3C493f;
    color: #f0f7f4;
    padding-top: 2rem;
    grid-column: 1/4;
    
    
}

.navigation { 
    background-color: #7e8d85;
    color: #f0f7f4;
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: #f0f7f4;
    padding: .75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover{
    color:#a2e3c4;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #3C493f;
}


main {
    grid-column: 1/3;
    background:#a2e3c4;
    color: #3C493f;
}

.right-content {
    background-color: #b3bfb8;
    color: #3C493f;
    grid-column:3/4;
}

footer {
    background-color: #b3bfb8;
    color: #3C493f;
    grid-column: 1/4;
    text-align: center;
    text-decoration: none;
    
}