
@media screen and (min-width: 1200px){
    
    .body-parent{
        font-size: 30px;
    }

    header{
        font-size: 50px;
        border-bottom: 35px solid #3D315B;
    }

    main{
        background-color: #3D315B;
    }

    .info-box{
        position: absolute;
        padding: 0;
        margin: 0;
        max-width: 600px;
        border: none;
        background-color: #ffffff90;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    }

    .banner{
        display: grid;
        position: relative;
        top: -20px;
        left: -20px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
        margin: 0;
        padding-left: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        background-color: #9AB87A;
        border-radius: .5rem;
        border: none;
    }
    .h2-data::after{
        width: 60px;
        height: 60px;
    }

    .h2-weather::after{
        width: 70px;
        height: 70px;;
    }

    .info-list label{
    padding-top: 6px;
    }

}